<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{{ description }}">
        <meta name="author" content="{{ author }}">
        <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png"/>
        <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png">
        <title>{{ title }}</title>

        {% block stylesheets %}
        <!-- Add CSS sheets that should be used on all pages here. -->
        <link href="assets/css/styles.css" rel="stylesheet">
        {% endblock %}
    </head>
    {% block body %}
        <body>
            {% block header %}
                {{ include('partials/_header.html.twig') }}
            {% endblock %}

            {% block main %}
            {% endblock %}

            {% block footer %}
                {{ include('partials/_footer.html.twig') }}
            {% endblock %}

            {% block javascripts %}
                <!-- Add scripts that should be used on all pages here. -->
            {% endblock %}
        </body>
    {% endblock %}
</html>